pokemon/management/commands/data/*
!pokemon/management/commands/data/type_effectiveness.csv
__pycache__/*
*/__pycache__/*
*/*/__pycache__/*
*/*/*/__pycache__/*
*/*/*/*/__pycache__/*
*/migrations/*
.idea
intpdb.dump
*.log
static/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
