{% load pokemon_data_manipulators %}
{% load static %}

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'pokemon/style.css' %}">

{% verbatim %}

<div id="app">

    <form id="search-form" accept-charset="utf-8" onsubmit="return false;">
        <div>
            <button class="searchbutton" v-on:click="update_pokemon_set">
                Search
            </button>
            <input type="text" class="searchfield" v-model="search" placeholder="Search">
            <select name="version" v-model="selected_version">
                <option value="" selected disabled hidden>Choose game version</option>
                <option v-for="version in versions" v-bind:value="version.name">{{ split_cap(version.name) }}</option>
            </select>
        </div>
        <div>
            <table>
                <tr>
                    <td>
                        <input type="checkbox" v-model="display.stats">Stats
                    </td>
                    <td>
                        <input type="checkbox" v-model="display.evo">Evolution
                    </td>
                    <td>
                        <input type="checkbox" v-model="display.types">Type Effectiveness
                    </td>
                    <td>
                        <input type="checkbox" v-model="display.moves">Moves
                    </td>
                    <td>
                        <input type="checkbox" v-model="display.encounters">Encounters
                    </td>
                    <td>
                        <input type="checkbox" v-model="display.abilities">Abilities
                    </td>
                </tr>
            </table>
        </div>
    </form>

    <table>
        <tbody name="pokemon-list" is="transition-group" tag="div">
        <tr v-for="pokemon in pokemon_set" v-bind:key="pokemon.form_name" class="pokemon-list-item">
            <td class="all-poke-info">
                <table>
                    <tr>
                        <td>
                            <poke-display v-bind:pokemon="pokemon" color="white"></poke-display>
                        </td>
                        <td v-if="display.stats" style="display: inline-block">
                            <table class="graph-container">
                                <tr>
                                    <th class="evo-header">Stats</th>
                                </tr>
                                <tr>
                                    <td>
                                        <table class="graph">
                                            <tr>
                                                <td class="bar-cell"><div class="bar" v-bind:style="'height: ' + pokemon.hp"></div></td>
                                                <td class="bar-cell"><div class="bar" v-bind:style="'height: ' + pokemon.attack"></div></td>
                                                <td class="bar-cell"><div class="bar" v-bind:style="'height: ' + pokemon.defense"></div></td>
                                                <td class="bar-cell"><div class="bar" v-bind:style="'height: ' + pokemon.special_attack"></div></td>
                                                <td class="bar-cell"><div class="bar" v-bind:style="'height: ' + pokemon.special_defense"></div></td>
                                                <td class="bar-cell"><div class="bar" v-bind:style="'height: ' + pokemon.speed"></div></td>
                                            </tr>
                                            <tr>
                                                <td class="stat-value">{{ pokemon.hp }}</td>
                                                <td class="stat-value">{{ pokemon.attack }}</td>
                                                <td class="stat-value">{{ pokemon.defense }}</td>
                                                <td class="stat-value">{{ pokemon.special_attack }}</td>
                                                <td class="stat-value">{{ pokemon.special_defense }}</td>
                                                <td class="stat-value">{{ pokemon.speed }}</td>
                                            </tr>
                                            <tr>
                                                <td class="stat-name">HP</td>
                                                <td class="stat-name">Atk</td>
                                                <td class="stat-name">Def</td>
                                                <td class="stat-name">SpA</td>
                                                <td class="stat-name">SpD</td>
                                                <td class="stat-name">Sp</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td v-if="display.evo" style="display: inline-block">
                            <table class="evo-table-container">
                                <tr>
                                    <th class="evo-header" colspan="0">
                                        Evolution Chain
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <table class="evo-table">
                                            <tr>
                                                <td v-for="rank in evo_ranks(pokemon.species.evolution_chain.species_set)">
                                                    <table>
                                                        <tr align="middle" v-for="evolution in rank_evos(pokemon.species.evolution_chain.species_set, rank)">
                                                            <td v-if="rank">
                                                                <table>
                                                                    <tr>
                                                                        <td>
                                                                            <table class="evo-conditions">
                                                                                <tr>
                                                                                    <td style="font-weight: bold; font-size: 1.25em;">
                                                                                        {{ split_cap(evolution.evolution_condition.trigger.name) }}
                                                                                    </td>
                                                                                </tr>
                                                                                <tr v-for="condition in evolution.evo_summary">
                                                                                    <td>
                                                                                        {{ condition }}
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                    <tr align="middle">
                                                                        <td><span style="font-size:2em;">&#10230;</span></td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td v-if="evolution.name == pokemon.species.name">
                                                                <poke-display v-bind:pokemon="evolution.main_form" color="#ffb3b3"></poke-display>
                                                            </td>
                                                            <td v-else>
                                                                <poke-display v-bind:pokemon="evolution.main_form" color="white"></poke-display>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td v-if="display.types" style="display: inline-block">
                            <table class="type-effectiveness-container" v-if="display.types">
                                <tr>
                                    <th class="evo-header">Defensive Type Effectiveness</th>
                                </tr>
                                <tr>
                                    <td>
                                        <table class="type-effectiveness-table">
                                            <tr>
                                                <td>Weak :</td>
                                                <td>
                                                    <table>
                                                        <tr>
                                                            <td v-bind:class="type_effectiveness.attack.name + ' type-sprite'" v-for="type_effectiveness in pokemon.pokemontypeeffectiveness_set" v-if="type_effectiveness.effectiveness > 1">
                                                                <span class="effectiveness"> {{ type_effectiveness.effectiveness }} &times; </span> {{ split_cap(type_effectiveness.attack.name) }}
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Normal :</td>
                                                <td>
                                                    <table>
                                                        <tr>
                                                            <td v-bind:class="type_effectiveness.attack.name + ' type-sprite'" v-for="type_effectiveness in pokemon.pokemontypeeffectiveness_set" v-if="type_effectiveness.effectiveness == 1">
                                                                <span class="effectiveness"> {{ type_effectiveness.effectiveness }} &times; </span> {{ split_cap(type_effectiveness.attack.name) }}
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Resistant :</td>
                                                <td>
                                                    <table>
                                                        <tr>
                                                            <td v-bind:class="type_effectiveness.attack.name + ' type-sprite'" v-for="type_effectiveness in pokemon.pokemontypeeffectiveness_set" v-if="type_effectiveness.effectiveness < 1">
                                                                <span class="effectiveness"> {{ type_effectiveness.effectiveness }} &times; </span> {{ split_cap(type_effectiveness.attack.name) }}
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                </table>
                <table v-if="display.moves">
                    <tr>
                        <td style="vertical-align:top" v-for="learn_method in learn_methods(pokemon.version_moves)">
                            <table class="move-container">
                                <tr>
                                    <td class="table-title">By {{ split_cap(learn_method) }}</td>
                                    <td class="table-title-info">{{ mid_slash(version_info.version_group.name) }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <table class="move-table">
                                            <tr style="background-color: #ffc299">
                                                <th class="move-header" v-if="learn_method == 'level-up'">Level</th>
                                                <th class="move-header" v-else-if="learn_method == 'machine'">TM/HM</th>
                                                <th class="move-header">Move</th>
                                                <th class="move-header">Type</th>
                                                <th class="move-header">Category</th>
                                                <th class="move-header">Power</th>
                                                <th class="move-header">Accuracy</th>
                                                <th class="move-header">PP</th>
                                            </tr>
                                            <tr v-for="move in method_moves(pokemon.version_moves, learn_method)">
                                                <td class="move-entry" v-if="learn_method == 'level-up'">{{ move.level }}</td>
                                                <td class="move-entry" v-else-if="learn_method == 'machine'">{{ move.tm.name }}</td>
                                                <td v-bind:class="'move-entry' + stab_style(move.move, pokemon)" style="text-align: left; cursor: help;"><span v-bind:title="move.move.description">{{ split_cap(move.move.name) }}</span></td>
                                                <td v-bind:class="'move-entry ' + move.move.type.name">{{ split_cap(move.move.type.name) }}</td>
                                                <td v-bind:class="'move-entry ' + move.move.category">{{ move.move.category }}</td>
                                                <td class="move-entry">{{ convert_if_none(move.move.power, '-') }}</td>
                                                <td class="move-entry">{{ convert_if_none(move.move.accuracy, '-') }}</td>
                                                <td class="move-entry">{{ move.move.pp }}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table v-if="display.encounters">
                    <tr>
                        <td style="vertical-align:top">
                            <table class="encounter-container">
                                <tr>
                                    <td class="table-title">Encounters</td>
                                    <td class="table-title-info">{{ split_cap(version_info.name) }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <table class="encounter-table">
                                            <tr style="background-color: #ffc299">
                                                <th class="encounter-header">Location</th>
                                                <th class="encounter-header">Method</th>
                                                <th class="encounter-header">Condition</th>
                                                <th class="encounter-header">Chance</th>
                                                <th class="encounter-header">Level</th>
                                            </tr>
                                            <template v-for="species in pokemon.species.evolution_chain.species_set" v-if="species.main_form.version_encounters.length">
                                            <tr>
                                                <td colspan="5">
                                                    <table class="species-encounter">
                                                        <tr>
                                                            <td><img class="poke-sprite" v-bind:src="species.main_form.sprite_url"></td>
                                                            <td class="table-title">{{ split_cap(species.main_form.form_name) }}</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr v-for="encounter in species.main_form.version_encounters">
                                                <td class="encounter-entry">{{ split_cap(encounter.location.name) }}</td>
                                                <td class="encounter-entry">{{ split_cap(encounter.method.name) }}</td>
                                                <td class="encounter-entry" v-if="encounter.condition">{{ split_cap(encounter.condition.name) }}</td>
                                                <td class="encounter-entry" v-else>-</td>
                                                <td class="encounter-entry">{{ encounter.chance }}%</td>
                                                <td class="encounter-entry">{{ encounter.min_level }} - {{ encounter.max_level }}</td>
                                            </tr>
                                            </template>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table v-if="display.abilities">
                    <tr>
                        <td style="vertical-align:top">
                            <table class="abilities-table-container">
                                <tr>
                                    <td class="table-title">Abilities</td>
                                </tr>
                                <tr>
                                    <td>
                                        <table class="abilities-table">
                                            <tr v-for="pokemonability in pokemon.pokemonability_set">
                                                <td><b>{{ split_cap(pokemonability.ability.name) }}<i v-if="pokemonability.hidden"> (hidden)</i></b></td>
                                                <td>{{ pokemonability.ability.description }}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<template id="poke-display">
    <figure class="poke-display" v-bind:style="'background-color: ' + color" v-on:click="$root.set_search(pokemon.form_name)">
        <img v-bind:src="pokemon.sprite_url" v-bind:alt="pokemon.form_name" class="poke-sprite">
        <figcaption class="poke-caption">
            <table style="text-align:center">
                <tr>
                    <th colspan="2">
                        {{ split_cap(pokemon.form_name) }}
                    </th>
                </tr>
                <tr>
                    <td v-bind:class="pokemon.primary_type.name + ' type-sprite'">
                        {{ split_cap(pokemon.primary_type.name) }}
                    </td>
                    <td v-if="pokemon.secondary_type" v-bind:class="pokemon.secondary_type.name + ' type-sprite'">
                        {{ split_cap(pokemon.secondary_type.name) }}
                    </td>
                </tr>
            </table>
        </figcaption>
    </figure>
</template>

{% endverbatim %}

<script src="{% static 'pokemon/vue.js' %}"></script>
