{% load pokemon_data_manipulators %}
{% load static %}

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'pokemon/style.css' %}">

{% verbatim %}

<div id="poke-search">

    <form id="search-form" accept-charset="utf-8" onsubmit="return false;" class="form-container">
        <div>
            <button class="searchbutton" v-on:click="update_pokemon_set">
                Search
            </button>
            <input type="text" class="searchfield" v-model="search" placeholder="Search">
            <select name="version" v-model="selected_version">
                <option value="" selected disabled hidden>Choose game version</option>
                <option v-for="version in versions" v-bind:value="version.name">{{ split_cap(version.name) }}</option>
            </select>
        </div>
        <div>
            <table>
                <tr>
                    <td>
                        <input type="checkbox" v-model="display.stats">Stats
                    </td>
                    <td>
                        <input type="checkbox" v-model="display.evo">Evolution
                    </td>
                    <td>
                        <input type="checkbox" v-model="display.types">Type Effectiveness
                    </td>
                    <td>
                        <input type="checkbox" v-model="display.moves">Moves
                    </td>
                    <td>
                        <input type="checkbox" v-model="display.encounters">Encounters
                    </td>
                    <td>
                        <input type="checkbox" v-model="display.abilities">Abilities
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <a href="/pokemon/coverage/">Type coverage calculator</a>
        </div>
    </form>

    <table>
        <tbody name="pokemon-list" is="transition-group" tag="div">
        <tr v-for="pokemon in pokemon_set" v-bind:key="pokemon.form_name" class="pokemon-list-item">
            <td class="all-poke-info">
                <table>
                    <tr>
                        <td>
                            <poke-display v-bind:pokemon="pokemon" color="white"></poke-display>
                        </td>
                        <td v-if="display.stats" style="display: inline-block;">
                            <poke-stats v-bind:pokemon="pokemon"></poke-stats>
                        </td>
                        <td v-if="display.evo" style="display: inline-block;">
                            <poke-evo v-bind:pokemon="pokemon"></poke-evo>
                        </td>
                        <td v-if="display.types" style="display: inline-block;">
                            <poke-types v-bind:pokemon="pokemon"></poke-types>
                        </td>
                    </tr>
                </table>
                <poke-moves v-bind:pokemon="pokemon" v-bind:version_info="version_info" v-if="display.moves"></poke-moves>
                <poke-encounters v-bind:pokemon="pokemon" v-bind:version_info="version_info" v-if="display.encounters"></poke-encounters>
                <poke-abilities v-bind:pokemon="pokemon" v-if="display.abilities"></poke-abilities>
            </td>
        </tr>
        </tbody>
    </table>

</div>

{% endverbatim %}

{% include "./templates/poke-display.html" %}

{% include "./templates/poke-stats.html" %}
{% include "./templates/poke-evo.html" %}
{% include "./templates/poke-types.html" %}
{% include "./templates/poke-moves.html" %}
{% include "./templates/poke-encounters.html" %}
{% include "./templates/poke-abilities.html" %}

<script src="{% static 'pokemon/poke-search.js' %}"></script>
