{% load pokemon_data_manipulators %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'pokemon/style.css' %}">

<table>
    {% for pokemon in pokemon_set %}
    <tr>
        <td class="all-poke-info">
            <table>
                <tr>
                    <td>
                        {% include "./poke-display.html" with color="white" %}
                    </td>
                    <td>
                        <table class="graph">
                            <tr>
                                <td class="bar-cell"><div class="bar" style="height: {{ pokemon.hp }}"></div></td>
                                <td class="bar-cell"><div class="bar" style="height: {{ pokemon.attack }}"></div></td>
                                <td class="bar-cell"><div class="bar" style="height: {{ pokemon.defense }}"></div></td>
                                <td class="bar-cell"><div class="bar" style="height: {{ pokemon.special_attack }}"></div></td>
                                <td class="bar-cell"><div class="bar" style="height: {{ pokemon.special_defense }}"></div></td>
                                <td class="bar-cell"><div class="bar" style="height: {{ pokemon.speed }}"></div></td>
                            </tr>
                            <tr>
                                <td class="stat-value">{{ pokemon.hp }}</td>
                                <td class="stat-value">{{ pokemon.attack }}</td>
                                <td class="stat-value">{{ pokemon.defense }}</td>
                                <td class="stat-value">{{ pokemon.special_attack }}</td>
                                <td class="stat-value">{{ pokemon.special_defense }}</td>
                                <td class="stat-value">{{ pokemon.speed }}</td>
                            </tr>
                            <tr>
                                <td class="stat-name">HP</td>
                                <td class="stat-name">Atk</td>
                                <td class="stat-name">Def</td>
                                <td class="stat-name">SpA</td>
                                <td class="stat-name">SpD</td>
                                <td class="stat-name">Sp</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table class="evo-table-container">
                            <tr>
                                <th class="evo-header" colspan="0">
                                    Evolution Chain
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <table class="evo-table">
                                        <tr>
                                            {% for evolution in pokemon.species.evolution_chain.species_set %}
                                            <td>
                                                <table>
                                                    {% for evolution in pokemon.species.evolution_chain.species_set %}
                                                    {% if evolution.evolution_rank == forloop.parentloop.counter0 %}
                                                    <tr align="middle">
                                                        {% if evolution.evolution_rank %}
                                                        <td>
                                                            <table>
                                                                <tr>
                                                                    <td>
                                                                        <table class="evo-conditions">
                                                                            <tr>
                                                                                <td style="font-weight: bold; font-size: 1.25em;">
                                                                                    {{ evolution.evolution_condition.trigger.name | split_cap }}
                                                                                </td>
                                                                            </tr>
                                                                            {% for condition in evolution.evo_summary %}
                                                                            <tr>
                                                                                <td>
                                                                                    {{ condition }}
                                                                                </td>
                                                                            </tr>
                                                                            {% endfor %}
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr align="middle">
                                                                    <td><span style="font-size:2em;">&#10230;</span></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        {% endif %}
                                                        <td>
                                                            {% if evolution.name == pokemon.species.name %}
                                                            {% include "./poke-display.html" with pokemon=evolution.main_form color="#ffb3b3" %}
                                                            {% else %}
                                                            {% include "./poke-display.html" with pokemon=evolution.main_form color="white" %}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    {% endif %}
                                                    {% endfor %}
                                                </table>
                                            </td>
                                            {% endfor %}
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

            </table>
            <table>
                <tr>
                    {% for learn_method in "level-up,machine,tutor,egg"|split:"," %}
                    {% if pokemon.version_moves|contains_learn_method:learn_method %}
                    <td style="vertical-align:top">
                        <table class="move-container">
                            <tr>
                                <td class="table-title">By {{ learn_method | split_cap }}</td>
                                <td class="table-title-info">{{ versions | find_matching_name:options.version | get_key:"version_group" | get_key:"name" | split_cap | mid_slash }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <table class="move-table">
                                        <tr style="background-color: #ffc299">
                                            {% if learn_method == "level-up" %}
                                            <th class="move-header">Level</th>
                                            {% elif learn_method == "machine" %}
                                            <th class="move-header">TM/HM</th>
                                            {% endif %}
                                            <th class="move-header">Move</th>
                                            <th class="move-header">Type</th>
                                            <th class="move-header">Category</th>
                                            <th class="move-header">Power</th>
                                            <th class="move-header">Accuracy</th>
                                            <th class="move-header">PP</th>
                                        </tr>
                                        {% for move in pokemon.version_moves %}
                                        {% if move.learn_method.name == learn_method %}
                                        <tr>
                                            {% if learn_method == "level-up" %}
                                            <td class="move-entry">{{ move.level }}</td>
                                            {% elif learn_method == "machine" %}
                                            <td class="move-entry">{{ move.tm.name }}</td>
                                            {% endif %}
                                            {% if move.move.category != "Status" %}
                                            {% if move.move.type.name == pokemon.primary_type.name or move.move.type.name == pokemon.secondary_type.name %}
                                            <td class="move-entry stab" style="text-align: left">{{ move.move.name | split_cap }}</td>
                                            {% else %}
                                            <td class="move-entry" style="text-align: left">{{ move.move.name | split_cap }}</td>
                                            {% endif %}
                                            {% else %}
                                            <td class="move-entry" style="text-align: left">{{ move.move.name | split_cap }}</td>
                                            {% endif %}
                                            <td class="move-entry {{ move.move.type.name }}">{{ move.move.type.name | split_cap }}</td>
                                            <td class="move-entry {{ move.move.category }}">{{ move.move.category }}</td>
                                            <td class="move-entry">{{ move.move.power | convert_if_none:"-" }}</td>
                                            <td class="move-entry">{{ move.move.accuracy | convert_if_none:"-" }}</td>
                                            <td class="move-entry">{{ move.move.pp }}</td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    {% endif %}
                    {% endfor %}
                </tr>
            </table>
            <table>
                <tr>
                    <td style="vertical-align:top">
                        <table class="encounter-container">
                            <tr>
                                <td class="table-title">Encounters</td>
                                <td class="table-title-info">{{ options.version | split_cap }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <table class="encounter-table">
                                        <tr style="background-color: #ffc299">
                                            <th class="encounter-header">Location</th>
                                            <th class="encounter-header">Method</th>
                                            <th class="encounter-header">Condition</th>
                                            <th class="encounter-header">Chance</th>
                                            <th class="encounter-header">Level</th>
                                        </tr>
                                        {% for species in pokemon.species.evolution_chain.species_set %}
                                        {% if species.main_form.version_encounters %}
                                        <tr>
                                            <td colspan="5">
                                                <table class="species-encounter">
                                                    <tr>
                                                        <td><img class="poke-sprite" src="{{ species.main_form.sprite_url }}"></td>
                                                        <td class="table-title">{{ species.main_form.form_name | split_cap }}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        {% for encounter in species.main_form.version_encounters %}
                                        <tr>
                                            <td class="encounter-entry">{{ encounter.location.name | split_cap }}</td>
                                            <td class="encounter-entry">{{ encounter.method.name | split_cap }}</td>
                                            <td class="encounter-entry">{{ encounter.condition.name | split_cap }}</td>
                                            <td class="encounter-entry">{{ encounter.chance }}%</td>
                                            <td class="encounter-entry">{{ encounter.min_level }} - {{ encounter.max_level }}</td>
                                        </tr>
                                        {% endfor %}
                                        {% endif %}
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

            </table>
            <table>
                <tr>
                    <td style="vertical-align:top">
                        <table class="abilities-table-container">
                            <tr>
                                <td class="table-title">Abilities</td>
                            </tr>
                            <tr>
                                <td>
                                    <table class="abilities-table">
                                        {% for pokemonability in pokemon.pokemonability_set %}
                                        <tr>
                                            <td><b>{{ pokemonability.ability.name | split_cap }}{% if pokemonability.hidden%}<i> (hidden)</i>{% endif %}</b></td>
                                            <td>{{ pokemonability.ability.description }}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    {% endfor %}
</table>
