{% load pokemon_data_manipulators %}

<figure class="poke-display" style="background-color: {{ color }}">
    <img src="{{ pokemon.sprite_url }}" alt="{{ pokemon.form_name }}" class="poke-sprite">
    <figcaption class="poke-caption">
        <table style="text-align:center">
            <tr>
                <th colspan="2">
                    {{ pokemon.form_name | split_cap }}
                </th>
            </tr>
            <tr>
                <td class="{{ pokemon.primary_type.name }} type-sprite">
                    {{ pokemon.primary_type.name | split_cap }}
                </td>
                {% if pokemon.secondary_type %}
                <td class="{{ pokemon.secondary_type.name }} type-sprite">
                    {{ pokemon.secondary_type.name | split_cap }}
                </td>
                {% endif %}
            </tr>
        </table>
    </figcaption>
</figure>
