{% verbatim %}
<template id="location-encounters">
    <table>
        <tr>
            <td style="vertical-align:top">
                <table class="encounter-container">
                    <tr>
                        <td class="table-title">{{ split_cap(location.name) }}</td>
                        <td class="table-title-info">{{ split_cap(version_info.name) }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table class="encounter-table">
                                <tr style="background-color: #ffc299">
                                    <th class="encounter-header">Pokemon</th>
                                    <th class="encounter-header">Method</th>
                                    <th class="encounter-header">Condition</th>
                                    <th class="encounter-header">Chance</th>
                                    <th class="encounter-header">Level</th>
                                </tr>
                                <tr v-for="encounter in location.version_encounters">
                                    <td class="encounter-entry"><poke-inline v-bind:pokemon="encounter.pokemon"></poke-inline></td>
                                    <td class="encounter-entry">{{ split_cap(encounter.method.name) }}</td>
                                    <td class="encounter-entry" v-if="encounter.condition">{{ split_cap(encounter.condition.name) }}</td>
                                    <td class="encounter-entry" v-else>-</td>
                                    <td class="encounter-entry">{{ encounter.chance }}%</td>
                                    <td class="encounter-entry">{{ encounter.min_level }} - {{ encounter.max_level }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</template>
{% endverbatim %}
