{% verbatim %}
<template id="poke-types">
    <table class="type-effectiveness-container">
        <tr>
            <th class="evo-header">Defensive Type Effectiveness</th>
        </tr>
        <tr>
            <td>
                <table class="type-effectiveness-table">
                    <tr>
                        <td>Weak :</td>
                        <td>
                            <span v-bind:class="type_effectiveness.attack.name + ' type-sprite'" v-for="type_effectiveness in pokemon.pokemontypeeffectiveness_set" v-if="type_effectiveness.effectiveness > 1">
                                <span class="effectiveness"> {{ type_effectiveness.effectiveness }} &times; </span> {{ split_cap(type_effectiveness.attack.name) }}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Normal :</td>
                        <td>
                            <span v-bind:class="type_effectiveness.attack.name + ' type-sprite'" v-for="type_effectiveness in pokemon.pokemontypeeffectiveness_set" v-if="type_effectiveness.effectiveness == 1">
                                <span class="effectiveness"> {{ type_effectiveness.effectiveness }} &times; </span> {{ split_cap(type_effectiveness.attack.name) }}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Resistant :</td>
                        <td>
                            <span v-bind:class="type_effectiveness.attack.name + ' type-sprite'" v-for="type_effectiveness in pokemon.pokemontypeeffectiveness_set" v-if="type_effectiveness.effectiveness < 1">
                                <span class="effectiveness"> {{ type_effectiveness.effectiveness }} &times; </span> {{ split_cap(type_effectiveness.attack.name) }}
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</template>
{% endverbatim %}
